---
import Layout from "../layouts/Layout.astro";

import "@fontsource/homemade-apple";
import "@fontsource/roboto-condensed";
---

<Layout title="Wisdom">
  <main>
    <div id="quote"></div>
    <ul>
      <li id="source"></li>
    </ul>
  </main>
</Layout>

<script>
  window.addEventListener("load", async () => {
    await fetch("/.netlify/functions/get-wisdom")
      .then((res) => res.json())
      .then((json) => {
        const quote = document.querySelector("#quote") as HTMLDivElement;
        const source = document.querySelector("#source") as HTMLDivElement;

        quote.innerText = json.quote;
        quote.classList.add("loaded");

        source.innerText = json.source;
        source.classList.add("loaded");
      });
  });
</script>

<style>
  main {
    padding: 1.5rem;
    max-width: 700px;
  }

  #quote {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0;
    translate: 0rem 1rem;
    scale: 0.98;
    transition: all 1.75s ease-in-out;
  }

  #quote.loaded {
    opacity: 1;
    translate: 0rem;
    scale: 1;
  }

  ul {
    list-style-type: "— ";
  }

  #source {
    font-family: "Homemade Apple", cursive;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 2rem;
    opacity: 0;
    translate: -1rem;
    scale: 0.98;
    transition: all 1.75s ease-in-out;
    transition-delay: 2s;
  }

  #source.loaded {
    opacity: 0.4;
    translate: 0rem;
    scale: 1;
  }
</style>
