---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --dark-color-1: #292524;
    --dark-color-2: #1c1917;
    --light-color-1: #fafaf9;
    --light-color-2: #f5f5f4;
  }
  html {
    font-family: system-ui, sans-serif;
    background: linear-gradient(var(--light-color-1), var(--light-color-2));
    background-color: var(--light-color-1);
    color: var(--dark-color-1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (prefers-color-scheme: dark) {
    html {
      background: linear-gradient(var(--dark-color-1), var(--dark-color-2));
      background-color: var(--dark-color-1);
      color: var(--light-color-1);
    }
  }
</style>
